.c-menu {
  margin: 0;
  padding: 0;
}
.c-menu ul[data-depth="0"] {
  display: flex;
  flex-flow: column;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
}
.c-menu ul[data-depth="0"] > li {
  list-style: none;
}
.c-menu ul[data-depth="0"] li {
  position: relative;
}
@media (min-width: 768px) {
  .c-menu ul[data-depth="0"] {
    align-items: center;
    flex-flow: row;
    gap: 1.25rem;
    margin: 2rem 0;
  }
}
.c-menu ul[data-depth="1"] {
  margin: 0;
  padding: 0;
}
.c-menu ul[data-depth="1"] > li {
  list-style: none;
}
@media (min-width: 768px) {
  .c-menu ul[data-depth="1"] {
    position: absolute;
    background: rgb(255, 255, 255);
    border: 1px solid grey;
    width: 100%;
  }
}
.c-menu ul[data-depth="1"] .menu__item {
  margin: 0;
  padding: 12px 0;
}
.c-menu ul[data-depth="1"] a.menu__item:focus, .c-menu ul[data-depth="1"] a.menu__item:hover {
  cursor: pointer;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.c-menu ul:not([data-depth="0"]) {
  margin: 0;
  padding: 0;
}
.c-menu button[aria-expanded=false] + ul:not([data-depth="0"]) {
  opacity: 0;
  visibility: hidden;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 1s;
}
.c-menu button[aria-expanded=true] + ul:not([data-depth="0"]) {
  opacity: 1;
  visibility: visible;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 1s;
  z-index: var(--prototype-zindex-over);
}
.c-menu span + ul:not([data-depth="0"]) {
  opacity: 1;
  visibility: visible;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 1s;
  z-index: var(--prototype-zindex-over);
}