//
// Mixins - Lists
// Use these mixins when needing to easily define lists styles.
//
// - 01 - Base
// - 02 - Bullets
// - 03 - Numbered
// - 04 - No Bullets
// - 05 - Inline
// - 06 - Ruled
//

//------------------------------------
//  01 - Base
//------------------------------------

@mixin list--reset {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

//------------------------------------
//  02 - Bullets
//------------------------------------

@mixin list--bullets($item-selector: li) {
  @include list--reset;

  > #{$item-selector}:before {
    content: '\2022';
    font-weight: var(--prototype-fw-bold);
  }

  ul {
    margin-top: 6px;
    padding-left: var(--space-indent);
  }
}

//------------------------------------
//  03 - Numbered
//------------------------------------

@mixin list--numbered($item-selector: li) {
  counter-reset: number;
  margin-left: 0;
  padding-left: 0;

  // Second Level
  ol {
    margin-top: 6px;
    padding-left: 30px;
  }
}

//------------------------------------
//  04 - No Bullets
//------------------------------------

@mixin list--no-bullets($item-selector: li) {
  margin: 0;
  padding: 0;

  > #{$item-selector} {
    list-style: none;
  }
}

//------------------------------------
//  05 - Inline
//------------------------------------

@mixin list--inline($item-selector: li) {
  > #{$item-selector} {
    display: inline-block;
  }
}

//------------------------------------
//  06 - Ruled
//------------------------------------

@mixin list--ruled(
  $spacing: 2em,
  $style: 'inner',
  $border-color: var(--border-color),
  $border-size: 1px,
  $border-style: solid,
  $item-selector: li
) {
  @include list--no-bullets;

  @if ($style == inner or $style == above) {
    > #{$item-selector} {
      border-top: $border-size $border-style $border-color;
      margin-top: $spacing;
      padding-top: $spacing;
    }

    @if ($style == inner) {
      > #{$item-selector}:first-child {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
      }
    } @else {
      > #{$item-selector}:first-child {
        margin-top: 0;
      }
    }
  }

  @if ($style == outer or $style == below) {
    > #{$item-selector} {
      border-bottom: $border-size $border-style $border-color;
      margin-bottom: $spacing;
      padding-bottom: $spacing;
    }

    @if ($style == outer) {
      > #{$item-selector}:first-child {
        border-top: $border-size $border-style $border-color;
        padding-top: $spacing;
      }
    } @else {
      > #{$item-selector}:last-child {
        margin-bottom: 0;
      }
    }
  }
}
