@use 'partials' as *;

.button {
  @include type-scale(label, 18);
  align-items: center;
  background-color: var(--prototype-color-gray-200);
  display: flex;
  gap: 10px;
  padding: rem(10px) rem(20px);
  text-decoration: none;
  width: fit-content;

  &:hover {
    cursor: pointer;
  }

  a,
  span {
    color: var(--prototype-color-black);
  }
}

.button__icon {
  display: inline-flex;
  height: rem(24px);
  width: rem(24px);

  svg {
    fill: var(--prototype-color-black);
  }
}
