//
// Global - Forms
//

//------------------------------------
//  01 - Imports
//------------------------------------

@use 'partials' as *;

//------------------------------------
//  02 - General
//------------------------------------

form {
  > * + *,
  .form-item + .form-item {
    margin-top: var(--prototype-space-20, 1.25rem);
  }
}

//------------------------------------
//  03 - Labels
//------------------------------------

label,
legend,
.form-item__label {
  @include type-scale(label, 16);
  display: block;
  font-weight: var(--prototype-fw-bold);
}

legend {
  margin-block-end: 4px;
}

//------------------------------------
// 04 - Fieldsets
//------------------------------------
fieldset {
  border: none;
  margin-inline: 0;
  padding: 0;
}

input,
textarea {
  @include type-scale(label, 16);
  border-radius: 0;
  color: var(--prototype-color-black);
  max-inline-size: 100%;
}

textarea {
  border: solid 1px var(--prototype-color-dark);
  display: block;
  inline-size: 100%;
  padding-block: 12px;
  padding-inline: 12px;
}

input[type='date'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'] {
  @include type-scale(label, 16);
  block-size: auto;
  border: solid 1px var(--prototype-color-dark);
  font-weight: var(--prototype-fw-regular);
  padding-block: 12px;
  padding-inline: 12px;

  &::placeholder {
    color: var(--prototype-color-gray-600);
  }
}

//------------------------------------
// 05 - Select
//------------------------------------
select {
  @include type-scale(label, 16);
  appearance: none;
  background: var(--prototype-i-triangle-down) no-repeat calc(100% - 12px)
    center;
  background-size: 24px;
  block-size: 52px;
  border: solid 1px var(--prototype-color-dark);
  border-radius: 0;
  color: var(--prototype-color-black);
  padding-block: 12px;
  padding-inline: 12px;
}

// Remove default IE arrow
select::-ms-expand {
  display: none;
}

//------------------------------------
// 06 - Search
//------------------------------------
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input[type='search'] {
  background: var(--prototype-i-search) no-repeat 12px center;
  background-size: 28px;
  padding-inline-start: 48px;
}

//------------------------------------
// 07 - Checkboxes / Radios
//------------------------------------

.form-type__checkbox,
.form-type__radio {
  position: relative;

  label {
    display: flex;
    font-weight: var(--prototype-fw-regular);
    gap: 4px;

    &:before {
      background-color: var(--prototype-color-black);
      block-size: 28px;
      content: '';
      display: block;
      inline-size: 28px;
      inset-block-start: -4px;
      inset-inline-start: -2px;
      mask-size: cover;
      position: relative;

      @include bp-min(tablet) {
        inset-block-start: -1px;
      }
    }
  }

  input {
    appearance: none;
    block-size: 100%;
    cursor: pointer;
    inline-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    margin: 0;
    position: absolute;
    z-index: var(--prototype-zindex-default);
  }
}

.form-type__checkbox {
  label {
    &:before {
      mask: var(--prototype-i-rectangle-empty) no-repeat center;
    }
  }

  input:checked + label:before {
    mask: var(--prototype-i-rectangle-checked) no-repeat center;
  }
}

.form-type__radio {
  label {
    &:before {
      mask: var(--prototype-i-circle-empty) no-repeat center;
    }
  }

  input:checked + label:before {
    mask: var(--prototype-i-circle-filled) no-repeat center;
  }
}

///------------------------------------
//  Descriptions
//------------------------------------
.description,
.form-item__description,
.form-item__description p {
  @include type-scale(label, 14);
  color: var(--prototype-color-dark);
}

//------------------------------------
//  08 - Passwords
//------------------------------------

.password-strength__meter {
  background-color: var(--prototype-color-gray-100);
}

.password-strength__indicator {
  &.is-fair {
    background-color: var(--prototype-color-yellow);
  }
  &.is-strong {
    background-color: var(--prototype-color-green);
  }
  &.is-good {
    background-color: var(--prototype-color-green);
  }
  &.is-weak {
    background-color: var(--prototype-color-red);
  }
}

.password-confirm,
.password-strength__title {
  @include type-scale(label, 14);
}

.password-strength__text {
  font-weight: var(--prototype-fw-bold);
}

.password-confirm > span {
  font-weight: var(--prototype-fw-bold);

  &.error {
    color: var(--prototype-color-red);
  }

  &.ok {
    color: var(--prototype-color-green);
  }
}

.password-suggestions {
  @include type-scale(label, 14);
  font-weight: var(--prototype-fw-bold);

  > ul {
    font-weight: var(--prototype-fw-regular);
  }
}

.search-advanced {
  margin-bottom: 10px;
  #edit-types-fieldset,
  #edit-lang-fieldset {
    .form-type__checkbox {
      margin-bottom: 5px;
      input {
        width: auto;
      }
    }
  }
}

//------------------------------------
// 09 - Errors
//------------------------------------
.form-error {
  color: var(--prototype-color-danger);

  p {
    color: var(--prototype-color-danger);
  }

  input[type='text'],
  input[type='password'],
  input[type='date'],
  input[type='email'],
  input[type='number'],
  input[type='tel'] {
    border: solid 1px var(--prototype-color-danger);
  }
}

//------------------------------------
// 10 - Disabled
//------------------------------------
.form-item--disabled {
  color: var(--prototype-color-gray-600);

  p {
    color: var(--prototype-color-gray-600);
  }

  label:before {
    background-color: var(--prototype-color-gray-600);
  }

  input {
    cursor: not-allowed;
  }

  input[type='text'],
  input[type='password'],
  input[type='date'],
  input[type='email'],
  input[type='number'],
  input[type='tel'] {
    border: solid 1px var(--prototype-color-gray-600);
    color: var(--prototype-color-gray-600);

    &::placeholder {
      color: var(--prototype-color-gray-600);
    }
  }
}

//------------------------------------
// 11 - Actions
//------------------------------------
.form-actions {
  align-self: flex-start;
  display: flex;
  gap: var(--prototype-space-20, 1.25rem);

  @include bp-min(tablet) {
    align-self: auto;
  }

  input {
    @include type-scale(body, 18);
    appearance: none;
    background-color: var(--prototype-color-black);
    border: none;
    box-shadow: none;
    color: var(--prototype-color-white);
    cursor: pointer;
    padding-block: 8px;
    padding-inline: 12px;
    position: relative;
    text-decoration: underline transparent;
    text-underline-offset: 2px;

    &:hover,
    &:focus {
      color: var(--prototype-color-white);
      text-decoration: underline currentColor;
    }
  }

  input[value='Clear'] {
    background: var(--prototype-i-close) no-repeat left center;
    color: var(--prototype-color-black);
    background-size: 28px;
    padding-inline-start: 32px;
  }
}

//------------------------------------
// 12 - Exposed Filters
//------------------------------------
.form--exposed-filters {
  align-items: flex-end;
  display: flex;
  flex-flow: nowrap column;
  gap: var(--prototype-space-20, 1.25rem);

  @include bp-min(tablet) {
    flex-flow: nowrap row;
  }

  .form-item {
    margin: 0;
  }
}
