//
// Elements - Headings
//
// - 01 - Imports
// - 02 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------
@use 'partials' as *;


//------------------------------------
//  02 - General
//------------------------------------

h1,
h2,
h3,
h4,
h5 {
  color: var(--prototype-color-black);
  margin-bottom: 0;

  > a {
    text-decoration: none;
  }

  + p {
    margin-top: 16px;
  }

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  @include heading-01();
}

h2 {
  @include heading-02();
}

h3 {
  @include heading-03();
}

h4 {
  @include heading-04();
}

h5 {
  @include heading-05();
}

h6 {
  @include heading-06();
}