//
// Elements - Links
//
// - 01 - Imports
// - 02 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use 'partials' as *;


//------------------------------------
//  02 - General
//------------------------------------

a {
  color: var(--prototype-color-primary);
  text-decoration: underline;

  &:hover,
  &:focus {
    color: var(--prototype-color-secondary);
    text-decoration: none;
  }
}
