//
// Elements - Reset
//
// - 01 - Box Sizing
// - 02 - Margins
// - 03 - Lists
// - 04 - Root
// - 05 - Body
// - 06 - Links
// - 07 - Images
// - 08 - Forms
// - 09 - Reduce Motion
//

//------------------------------------
//  01 - Box Sizing
//------------------------------------

*,
::before,
::after {
  box-sizing: border-box;
}


//------------------------------------
//  02 - Margins
//------------------------------------

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


//------------------------------------
//  03 - Lists
//------------------------------------

ul {
  list-style: none;
}


//------------------------------------
//  04 - Root
//------------------------------------

html:focus-within {
  scroll-behavior: smooth;
}


//------------------------------------
//  05 - Body
//------------------------------------

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


//------------------------------------
//  06 - Links
//------------------------------------

a:not([class]) {
  text-decoration-skip-ink: auto;
}


//------------------------------------
//  07 - Images
//------------------------------------

img,
picture {
  max-width: 100%;
  display: block;
}


//------------------------------------
//  08 - Forms
//------------------------------------

input,
button,
textarea,
select {
  font: inherit;
}


//------------------------------------
//  09 - Reduce Motion
//------------------------------------

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
