//
// Base - Color
//
// - 01 - Theme Colors
// - 02 - Grayscale
// - 03 - Semantic Colors
//


//------------------------------------
//  01 - Theme Colors
//------------------------------------

:root {
  --prototype-color-blue: #0d6efd;
  --prototype-color-indigo: #6610f2;
  --prototype-color-purple: #6f42c1;
  --prototype-color-pink: #d63384;
  --prototype-color-red: #dc3545;
  --prototype-color-orange: #fd7e14;
  --prototype-color-yellow: #ffc107;
  --prototype-color-green: #198754;
  --prototype-color-teal: #20c997;
  --prototype-color-cyan: #0dcaf0;
}


//------------------------------------
//  02 - Grayscale
//------------------------------------

:root {
  --prototype-color-white: #ffffff;
  --prototype-color-gray-100: #f8f9fa;
  --prototype-color-gray-200: #e9ecef;
  --prototype-color-gray-300: #dee2e6;
  --prototype-color-gray-400: #ced4da;
  --prototype-color-gray-500: #adb5bd;
  --prototype-color-gray-600: #6c757d;
  --prototype-color-gray-700: #495057;
  --prototype-color-gray-800: #343a40;
  --prototype-color-gray-900: #212529;
  --prototype-color-black: #000000;
}


//------------------------------------
//  03 - Semantic Colors
//------------------------------------

:root {
  --prototype-color-primary: var(--prototype-color-blue);
  --prototype-color-secondary: var(--prototype-color-gray-900);
  --prototype-color-success: var(--prototype-color-green);
  --prototype-color-info: var(--prototype-color-cyan);
  --prototype-color-warning: var(--prototype-color-yellow);
  --prototype-color-danger: var(--prototype-color-red);
  --prototype-color-light: var(--prototype-color-gray-100);
  --prototype-color-dark: var(--prototype-color-gray-900);
}
