//
// @file
// Libraries - Global - Icons
//

//
//  Variables
//
$icons_path: '/themes/custom/prototype/images/icons';

:root {
  --prototype-i-arrow-down: url('#{$icons_path}/icon-arrow-down.svg');
  --prototype-i-arrow-left: url('#{$icons_path}/icon-arrow-left.svg');
  --prototype-i-arrow-right: url('#{$icons_path}/icon-arrow-right.svg');
  --prototype-i-arrow-up: url('#{$icons_path}/icon-arrow-up.svg');
  --prototype-i-cancel: url('#{$icons_path}/icon-cancel.svg');
  --prototype-i-checkmark: url('#{$icons_path}/icon-checkmark.svg');
  --prototype-i-circle-check: url('#{$icons_path}/circle-check.svg');
  --prototype-i-circle-empty: url('#{$icons_path}/circle-empty.svg');
  --prototype-i-circle-filled: url('#{$icons_path}/circle-fill.svg');
  --prototype-i-error: url('#{$icons_path}/error.svg');
  --prototype-i-minus: url('#{$icons_path}/icon-minus.svg');
  --prototype-i-plus: url('#{$icons_path}/icon-plus.svg');
  --prototype-i-rectangle-checked: url('#{$icons_path}/rectangle-checked.svg');
  --prototype-i-rectangle-empty: url('#{$icons_path}/rectangle-empty.svg');
  --prototype-i-search: url('#{$icons_path}/icon-search.svg');
  --prototype-i-status: url('#{$icons_path}/status.svg');
  --prototype-i-success: url('#{$icons_path}/icon-success.svg');
  --prototype-i-warning: url('#{$icons_path}/icon-warning.svg');
}

//
// General
//
.icon {
  background-color: var(--prototype-color-black);
  block-size: 32px;
  display: block;
  font: 0/0 transparent;
  inline-size: 32px;
  mask-size: cover;
}

//
//  Icons
//
.icon--arrow-down {
  mask: var(--prototype-i-arrow-down) no-repeat center;
}

.icon--arrow-left {
  mask: var(--prototype-i-arrow-left) no-repeat center;
}

.icon--arrow-right {
  mask: var(--prototype-i-arrow-right) no-repeat center;
}

.icon--arrow-up {
  mask: var(--prototype-i-arrow-up) no-repeat center;
}

.icon--circle-check {
  mask: var(--prototype-i-circle-check) no-repeat center;
}

.icon--circle-empty {
  mask: var(--prototype-i-circle-empty) no-repeat center;
}

.icon--circle-filled {
  mask: var(--prototype-i-circle-filled) no-repeat center;
}

.icon--cancel {
  mask: var(--prototype-i-cancel) no-repeat center;
}

.icon--checkmark {
  mask: var(--prototype-i-checkmark) no-repeat center;
}

.icon--error {
  mask: var(--prototype-i-error) no-repeat center;
}

.icon--minus {
  mask: var(--prototype-i-minus) no-repeat center;
}

.icon--plus {
  mask: var(--prototype-i-plus) no-repeat center;
}

.icon--rectangle-checked {
  mask: var(--prototype-i-rectangle-checked) no-repeat center;
}

.icon--rectangle-empty {
  mask: var(--prototype-i-rectangle-empty) no-repeat center;
}

.icon--search {
  mask: var(--prototype-i-search) no-repeat center;
}

.icon--success {
  mask: var(--prototype-i-success) no-repeat center;
}

.icon--warning {
  mask: var(--prototype-i-warning) no-repeat center;
}
