//
// Global - Layers
//
// - 01 - Layers
//


//------------------------------------
//  01 - Layers
//------------------------------------

:root {
  --prototype-zindex-super: 100;
  --prototype-zindex-top: 90;
  --prototype-zindex-over: 10;
  --prototype-zindex-default: 1;
  --prototype-zindex-under: -1;
  --prototype-zindex-bottom: -9999px;
}
