//
// Base - Typography
//
// - 01 - Imports
// - 02 - Families
// - 03 - Typographic Scale
// - 04 - Weights
//

//------------------------------------
//  01 - Imports
//------------------------------------

@use 'partials' as *;


//------------------------------------
//  02 - Families
//------------------------------------

:root {
  --prototype-ff-base: 'Inter', sans-serif;
}


//------------------------------------
//  03 - Typographic Scale
//  The scale is organized into groups of font sizes, such as headings and body text.
//  Additional categories can be added based on the needs of the design. Each category is
//  broken up into font-size (integers) representing the target `px` value at the largest
//  breakpoint. Within each font-size, target `px` values are set per breakpoint.
//
//  By default the heading group utilizes semantic HTML elements `h1` through `h4` for category names.
//  The body and label groups have a base font-size and additional font-sizes can be added as needed.
//  When adding additional font-sizes, the new categories should be named with the target `px` value.
//  The example below shows a new `18` group in the body category. At it's largest this font-size will
//  display at 18px and will scale down to 14px at the mobile breakpoint.
//  Example:
//   body: (
//     base: (
//        mobile: (14, 22),
//        tablet: (24, 32),
//        sm-desktop: (28, 40),
//        desktop: (32, 44),
//      ),
//      18: (
//        mobile: (14, 22),
//        tablet: (16, 26),
//        sm-desktop: (18, 28),
//        desktop: (18, 28),
//      ),
//    ),
//
//  Note: The breakpoints listed here must correspond with breakpoints defined in
//  `libraries/partials/settings/breakpoints.scss`.
//
/// $typographic-scale: (
///   category1: (
///     size1: (
///       breakpoint1: (fontSizePixelValue, lineHeightPixelValue),
///       breakpoint2: (fontSizePixelValue, lineHeightPixelValue),
///       ...
///     ),
///     size2: ( ... ),
///     ...
///   ),
///   category2: ( ... ),
///   ...
/// );
//------------------------------------

/* prettier-ignore */
$typographic-scale: (
  heading: (
    h1: (
      mobile: (44, 52),
      tablet: (52, 60),
      sm-desktop: (72, 72),
      desktop: (96, 92),
    ),
    h2: (
      mobile: (32, 36),
      tablet: (42, 48),
      sm-desktop: (44, 52),
      desktop: (52, 60),
    ),
    h3: (
      mobile: (24, 28),
      tablet: (28, 32),
      sm-desktop: (32, 36),
      desktop: (44, 52),
    ),
    h4: (
      mobile: (22, 28),
      tablet: (24, 28),
      sm-desktop: (28, 32),
      desktop: (32, 36),
    ),
  ),
  body: (
    base: (
      mobile: (14, 22),
      tablet: (16, 26),
      sm-desktop: (18, 28),
      desktop: (18, 28),
    ),
    18: (
      mobile: (14, 22),
      tablet: (16, 26),
      sm-desktop: (18, 28),
      desktop: (18, 28),
    ),
    16: (
      mobile: (14, 22),
      tablet: (16, 26),
      sm-desktop: (16, 26),
      desktop: (16, 26),
    ),
  ),
  label: (
    18: (
      mobile: (14, 24),
      tablet: (16, 28),
      sm-desktop: (18, 28),
    ),
    16: (
      mobile: (14, 24),
      tablet: (16, 24),
      sm-desktop: (16, 28),
    ),
    14: (
      mobile: (12, 22),
      tablet: (14, 24),
    ),
  ),
);

@include type-scale-custom-props($typographic-scale);


//------------------------------------
//  04 - Weights
//------------------------------------

:root {
  --prototype-fw-thin: 100;
  --prototype-fw-light: 300;
  --prototype-fw-regular: 400;
  --prototype-fw-book: 400;
  --prototype-fw-medium: 500;
  --prototype-fw-semibold: 600;
  --prototype-fw-bold: 700;
}
