{% set classes = ['c-figure']|merge(classes|default([])) %}

<figure{{attributes.addClass(classes)}}>
  {% block media_block %}
    {{ media }}
  {% endblock %}

  {% block caption_block %}
    {% if caption %}
      <figcaption class='c-figure__caption'>
        {{caption}}
      </figcaption>
    {% endif %}
  {% endblock %}
</figure>
