.user-login-form .form-item {
  margin-top: var(--prototype-space-36);
}

.user-register-form .form-item {
  margin-top: var(--prototype-space-36);
}

.user-pass .form-item {
  margin-top: var(--prototype-space-36);
}