{% set classes = [
    'region',
    'region__name--' ~ region|clean_class,
		'site-footer',
] %}

{{ attach_library('prototype/region--' ~ region|clean_class) }}

<footer role='contentinfo' {{ attributes.addClass(classes) }}>
  <div class='site-footer__inner l-container'>
    <a href="{{ path('<front>') }}" title="{{ title ? title : 'Home' }}" rel='home' class='site-footer__logo'>
      <img src='/{{ base_path ~ directory }}/logo.svg' class='logo__image' alt="{{ 'Home'|t }}"/>
    </a>
    {# Footer Menus #}
    <div class='site-footer__content'>
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </div>
  {% if backToTop %}
    {{backToTop}}
  {% endif %}
</footer>
