.c-pager .c-pager__items {
  margin: 0;
  text-align: center;
}
.c-pager .c-pager__item {
  display: inline-block;
  margin: 0 0.25rem;
}
.c-pager .c-pager__item.is-active a {
  color: var(--prototype-color-black);
}
.c-pager .c-pager__link {
  -webkit-text-decoration: none;
  text-decoration: none;
}
.c-pager .c-pager__link:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}