{#
/**
 * @file
 * Components - Components - Pager
 *
 * Available props:
 * - attributes: [array] Any custom attributes needed for this component.
 * - items: [array] The full collection of elements needed to make up this component.
 * - ellipses: [array] A group of items representing continuations of pagination.
 * - current: [integer] The number representative of the current page.
 *
 * Available slots:
 * - pager
 */
#}

{% set classes = [
  'c-pager',
] %}

{% block pager %}
  {% if items is not empty %}
    <nav role='navigation' aria-label={{ 'Pagination'|t }} {{ attributes.addClass(classes) }}>
      <ol class='c-pager__items js-pager__items'>
        {% if items.first %}
          {# Print first item if we are not on the first page. #}
          <li class='c-pager__item c-pager__item--first'>
            <a href="{{ items.first.href }}" class='c-pager__link' title="{{ 'Go to first page'|t }}" {{ items.first.attributes|without('href', 'title') }}>
              <span class='visually-hidden'>{{ 'First page'|t }}</span>
              <span aria-hidden='true'>{{ items.first.text|default('« First'|t) }}</span>
            </a>
          </li>
        {% endif %}

        {% if items.previous %}
          {# Print previous item if we are not on the first page. #}
          <li class='c-pager__item c-pager__item--previous'>
            <a href="{{ items.previous.href }}" class='c-pager__link' title="{{ 'Go to previous page'|t }}" rel='prev' {{ items.previous.attributes|without('href', 'title', 'rel') }}>
              <span class='visually-hidden'>{{ 'Previous page'|t }}</span>
              <span aria-hidden='true'>{{ items.previous.text|default('‹ Previous'|t) }}</span>
            </a>
          </li>
        {% endif %}

        {% if ellipses.previous %}
          {# Add an ellipsis if there are further previous pages. #}
          <li class='c-pager__item c-pager__item--ellipsis' aria-hidden='true'>&hellip;</li>
        {% endif %}

        {% for key, item in items.pages %}
          {# Now generate the actual pager piece. #}
          <li class='c-pager__item{{ current == key ? " is-active" : "" }}'>
            {% if current == key %}
              {% set title = 'Current page'|t %}
            {% else %}
              {% set title = 'Go to page @key'|t({'@key': key}) %}
            {% endif %}

            <a href="{{ item.href }}" class='c-pager__link' title="{{ title }}" {{ item.attributes|without('href', 'title') }} {{ current == key ? 'aria-current="page"' }}>
              <span class='visually-hidden'>
                {{ current == key ? 'Current page'|t : 'Page'|t }}
              </span>

              {{- key -}}
            </a>
          </li>
        {% endfor %}

        {% if ellipses.next %}
          {# Add an ellipsis if there are further next pages. #}
          <li class='c-pager__item c-pager__item--ellipsis' role='presentation'>&hellip;</li>
        {% endif %}

        {% if items.next %}
          {# Print next item if we are not on the last page. #}
          <li class='c-pager__item c-pager__item--next'>
            <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" class='c-pager__link' rel='next' {{ items.next.attributes|without('href', 'title', 'rel') }}>
              <span class='visually-hidden'>{{ 'Next page'|t }}</span>
              <span aria-hidden='true'>{{ items.next.text|default('Next ›'|t) }}</span>
            </a>
          </li>
        {% endif %}

        {% if items.last %}
          {# Print last item if we are not on the last page. #}
          <li class='c-pager__item c-pager__item--last'>
            <a href="{{ items.last.href }}" class='c-pager__link' title="{{ 'Go to last page'|t }}" {{ items.last.attributes|without('href', 'title') }}>
              <span class='visually-hidden'>{{ 'Last page'|t }}</span>
              <span aria-hidden='true'>{{ items.last.text|default('Last »'|t) }}</span>
            </a>
          </li>
        {% endif %}
      </ol>
    </nav>
  {% endif %}
{% endblock %}
