@use 'partials' as *;

.messages__content {
  color: var(--prototype-color-white);
  flex: 1;

  a {
    font-weight: bold;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
    }
  }
}

.messages {
  border-radius: var(--size-radius);
  overflow: hidden;
  display: flex;
  padding: rem(15px);

  .messages__icon {
    display: block;
    margin-right: rem(10px);
    width: rem(32px);
  }
}

.messages--status {
  background-color: var(--prototype-color-green);
  color: var(--prototype-color-white);

  a {
    color: var(--prototype-color-white);
  }
}

.messages--warning {
  background-color: var(--prototype-color-yellow);
  color: var(--prototype-color-black);

  a,
  .messages__content {
    color: var(--prototype-color-black);
  }
}

.messages--error {
  background-color: var(--prototype-color-red);
  color: var(--prototype-color-white);

  a {
    color: var(--prototype-color-white);
  }
}
