@media (min-width: 768px) {
  .l-grid .l-grid__inner {
    display: flex;
    flex-flow: nowrap row;
    margin: 0 -var(--prototype-grid-gap);
  }
}
.l-grid .l-grid__inner > * + * {
  margin-top: var(--prototype-grid-gap);
}
.l-grid .l-grid__inner .l-grid__item {
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .l-grid .l-grid__inner .l-grid__item {
    padding: 0 var(--prototype-grid-gap);
  }
}
.l-grid .l-grid__inner .l-grid__item--col-2 {
  width: 100%;
}
@media (min-width: 768px) {
  .l-grid .l-grid__inner .l-grid__item--col-2 {
    width: 16.6666666667%;
  }
}
.l-grid .l-grid__inner .l-grid__item--col-3 {
  width: 100%;
}
@media (min-width: 768px) {
  .l-grid .l-grid__inner .l-grid__item--col-3 {
    width: 25%;
  }
}
.l-grid .l-grid__inner .l-grid__item--col-4 {
  width: 100%;
}
@media (min-width: 768px) {
  .l-grid .l-grid__inner .l-grid__item--col-4 {
    width: 33.3333333333%;
  }
}
.l-grid .l-grid__inner .l-grid__item--col-5 {
  width: 100%;
}
@media (min-width: 768px) {
  .l-grid .l-grid__inner .l-grid__item--col-5 {
    width: 41.6666666667%;
  }
}
.l-grid .l-grid__inner .l-grid__item--col-6 {
  width: 100%;
}
@media (min-width: 768px) {
  .l-grid .l-grid__inner .l-grid__item--col-6 {
    width: 50%;
  }
}
.l-grid .l-grid__inner .l-grid__item--col-7 {
  width: 100%;
}
@media (min-width: 768px) {
  .l-grid .l-grid__inner .l-grid__item--col-7 {
    width: 58.3333333333%;
  }
}
.l-grid .l-grid__inner .l-grid__item--col-8 {
  width: 100%;
}
@media (min-width: 768px) {
  .l-grid .l-grid__inner .l-grid__item--col-8 {
    width: 66.6666666667%;
  }
}
.l-grid .l-grid__inner .l-grid__item--col-9 {
  width: 100%;
}
@media (min-width: 768px) {
  .l-grid .l-grid__inner .l-grid__item--col-9 {
    width: 75%;
  }
}
.l-grid .l-grid__inner .l-grid__item--col-10 {
  width: 100%;
}
@media (min-width: 768px) {
  .l-grid .l-grid__inner .l-grid__item--col-10 {
    width: 83.3333333333%;
  }
}