.site-branding {
  align-items: center;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: var(--size-width, 10rem);
  z-index: 1;
}
@media (min-width: 992px) {
  .site-branding {
    width: 11.25rem;
    max-width: 18.75rem;
  }
}
.site-branding a,
.site-branding img {
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  .site-branding a,
  .site-branding img {
    min-width: 8.75rem;
  }
}