:root {
  --transition-easeInSine: cubic-bezier(0.12, 0, 0.39, 0);
  --transition-easeOutSine: cubic-bezier(0.61, 1, 0.88, 1);
  --transition-easeInOutSine: cubic-bezier(0.37, 0, 0.63, 1);
  --transition-easeInQuad: cubic-bezier(0.11, 0, 0.5, 0);
  --transition-easeOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
  --transition-easeInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);
  --transition-easeInCubic: cubic-bezier(0.32, 0, 0.67, 0);
  --transition-easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
  --transition-easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);
  --transition-easeInQuart: cubic-bezier(0.5, 0, 0.75, 0);
  --transition-easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
  --transition-easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
  --transition-easeInQuint: cubic-bezier(0.64, 0, 0.78, 0);
  --transition-easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
  --transition-easeInOutQuint: cubic-bezier(0.83, 0, 0.17, 1);
  --transition-easeInExpo: cubic-bezier(0.7, 0, 0.84, 0);
  --transition-easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --transition-easeInOutExpo: cubic-bezier(0.87, 0, 0.13, 1);
  --transition-easeInCirc: cubic-bezier(0.55, 0, 1, 0.45);
  --transition-easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
  --transition-easeInOutCirc: cubic-bezier(0.85, 0, 0.15, 1);
  --transition-easeInBack: cubic-bezier(0.36, 0, 0.66, -0.56);
  --transition-easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
  --transition-easeInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);
}