:root {
  --prototype-width-xxlarge: 1920px;
  --prototype-width-xlarge: 1440px;
  --prototype-width-large: 1280px;
  --prototype-width-medium: 960px;
  --prototype-width-small: 768px;
  --prototype-width-xsmall: 640px;
  --prototype-width-xxsmall: 480px;
}