/* prettier-ignore */
:root {
  --prototype-space-0: 0px;
  --prototype-space-8: 4px;
  --prototype-space-20: 8px;
  --prototype-space-36: 12px;
  --prototype-space-60: 20px;
  --prototype-space-96: 30px;
  --prototype-space-120: 40px;
  --prototype-space-180: 60px;
  --prototype-space-rem-0: 0rem; /* 0px */
  --prototype-space-rem-8: 0.25rem; /* 4px */
  --prototype-space-rem-20: 0.5rem; /* 8px */
  --prototype-space-rem-36: 0.75rem; /* 12px */
  --prototype-space-rem-60: 1.25rem; /* 20px */
  --prototype-space-rem-96: 1.875rem; /* 30px */
  --prototype-space-rem-120: 2.5rem; /* 40px */
  --prototype-space-rem-180: 3.75rem; /* 60px */
}
@media (min-width: 768px) {
  :root {
    --prototype-space-8: 8px;
    --prototype-space-20: 12px;
    --prototype-space-36: 18px;
    --prototype-space-60: 32px;
    --prototype-space-96: 48px;
    --prototype-space-120: 60px;
    --prototype-space-180: 90px;
    --prototype-space-rem-8: 0.5rem; /* 8px */
    --prototype-space-rem-20: 0.75rem; /* 12px */
    --prototype-space-rem-36: 1.125rem; /* 18px */
    --prototype-space-rem-60: 2rem; /* 32px */
    --prototype-space-rem-96: 3rem; /* 48px */
    --prototype-space-rem-120: 3.75rem; /* 60px */
    --prototype-space-rem-180: 5.625rem; /* 90px */
  }
}
@media (min-width: 1024px) {
  :root {
    --prototype-space-20: 16px;
    --prototype-space-36: 24px;
    --prototype-space-60: 40px;
    --prototype-space-96: 60px;
    --prototype-space-120: 80px;
    --prototype-space-180: 120px;
    --prototype-space-rem-20: 1rem; /* 16px */
    --prototype-space-rem-36: 1.5rem; /* 24px */
    --prototype-space-rem-60: 2.5rem; /* 40px */
    --prototype-space-rem-96: 3.75rem; /* 60px */
    --prototype-space-rem-120: 5rem; /* 80px */
    --prototype-space-rem-180: 7.5rem; /* 120px */
  }
}
@media (min-width: 1200px) {
  :root {
    --prototype-space-20: 20px;
    --prototype-space-36: 36px;
    --prototype-space-60: 60px;
    --prototype-space-96: 96px;
    --prototype-space-120: 120px;
    --prototype-space-180: 180px;
    --prototype-space-rem-20: 1.25rem; /* 20px */
    --prototype-space-rem-36: 2.25rem; /* 36px */
    --prototype-space-rem-60: 3.75rem; /* 60px */
    --prototype-space-rem-96: 6rem; /* 96px */
    --prototype-space-rem-120: 7.5rem; /* 120px */
    --prototype-space-rem-180: 11.25rem; /* 180px */
  }
}