//
// @file
// Components - Components - Accordion
//

//
// Imports
//
@use 'partials' as *;

//
// Trigger
//
.c-accordion {
  > h3 {
    inline-size: 100%;
  }

  > h3 button {
    inline-size: 100%;
    margin: 0;
    padding-block: 12px;
    padding-inline: 20px 64px;
    position: relative;
    text-align: left;

    @include bp-min(sm-desktop) {
      padding-inline: 24px 64px;
    }
  }
}

//
// Content
//
.c-accordion {
  .c-accordion__content {
    margin-block-start: 0;
    max-block-size: 0;
    opacity: 0;
    padding-block: 0;
    padding-inline: 20px;
    transition: all 0.35s var(--transition-easeInOutCirc);
    visibility: hidden;

    @include bp-min(tablet) {
      padding-inline: 40px;
    }
  }

  .c-accordion__content.is-open {
    margin-block-start: 12px;
    max-block-size: 9999px;
    opacity: 1;
    padding-block: 20px;
    visibility: visible;

    @include bp-min(tablet) {
      padding-block: 40px;
    }
  }
}
