.messages__content {
  color: var(--prototype-color-white);
  flex: 1;
}
.messages__content a {
  font-weight: bold;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.messages__content a:hover, .messages__content a:focus {
  color: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.messages {
  border-radius: var(--size-radius);
  overflow: hidden;
  display: flex;
  padding: 0.9375rem;
}
.messages .messages__icon {
  display: block;
  margin-right: 0.625rem;
  width: 2rem;
}

.messages--status {
  background-color: var(--prototype-color-green);
  color: var(--prototype-color-white);
}
.messages--status a {
  color: var(--prototype-color-white);
}

.messages--warning {
  background-color: var(--prototype-color-yellow);
  color: var(--prototype-color-black);
}
.messages--warning a,
.messages--warning .messages__content {
  color: var(--prototype-color-black);
}

.messages--error {
  background-color: var(--prototype-color-red);
  color: var(--prototype-color-white);
}
.messages--error a {
  color: var(--prototype-color-white);
}