{% import "prototype:icons" as icons %}
{% set attributes = create_attribute(attributes) %}
{# See 01-elements/button.scss for styles. #}
{% set classes = ['button'] %}

<a href="{{ link.url }}" {{ attributes.addClass(classes) }}>

  {% if icon_prefix and icon_prefix != 'none' %}
    <span class='button__icon'>
      {{ icons.inline(icon_prefix) }}
    </span>
  {% endif %}

  <span>{{ link.title }}</span>

  {% if icon_suffix and icon_suffix != 'none' %}
    <span class='button__icon'>
      {{ icons.inline(icon_suffix) }}
    </span>
  {% endif %}
</a>
