.to-top {
  display: flex;
  justify-content: right;
}

.to-top__inner {
  background-color: black;
  border-radius: 50%;
  box-shadow: 0px 2px 16px -8px #231f20;
  box-sizing: content-box;
  display: flex;
  height: 1.5rem;
  line-height: 1;
  transition: all 0.35s ease-in-out;
  padding: 1rem;
  will-change: transform;
  width: 1.5rem;
}
.to-top__inner svg {
  height: 1.5rem;
  width: 1.5rem;
}
.to-top__inner svg path {
  fill: white;
}
.to-top__inner:hover {
  transform: translateY(-4px);
}