.c-accordion > h3 {
  width: 100%;
}
.c-accordion > h3 button {
  width: 100%;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 64px;
  position: relative;
  text-align: left;
}
@media (min-width: 1024px) {
  .c-accordion > h3 button {
    padding-left: 24px;
    padding-right: 64px;
  }
}

.c-accordion .c-accordion__content {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.35s var(--transition-easeInOutCirc);
  visibility: hidden;
}
@media (min-width: 768px) {
  .c-accordion .c-accordion__content {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.c-accordion .c-accordion__content.is-open {
  margin-top: 12px;
  max-height: 9999px;
  opacity: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  visibility: visible;
}
@media (min-width: 768px) {
  .c-accordion .c-accordion__content.is-open {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}