{% macro sprite(icon, width, height) %}
  <svg viewbox='0 0 {{width|default(100)}} {{height ? height : width|default(100)}}' class='icon icon--{{icon}}'>
    <use xlink:href='#{{icon}}'></use>
  </svg>
{% endmacro %}

{% macro inline(icon) %}
  {{ source('@prototype/images/icons/' ~ icon ~ '.svg') }}
{% endmacro %}
