@use 'partials' as *;

.c-menu {
  margin: 0;
  padding: 0;

  // Top level menu wrapper, main menu list element
  ul[data-depth='0'] {
    display: flex;
    flex-flow: column;
    width: fit-content;
    @include list--no-bullets;

    li {
      position: relative;
    }

    // On larger desktop screens
    @include bp-min(tablet) {
      align-items: center;
      flex-flow: row;
      gap: rem(20px);
      margin: rem(32px) 0;
    }
  }

  // Secondary level menu wrapper styles
  ul[data-depth='1'] {
    @include list--no-bullets;

    @include bp-min(tablet) {
      position: absolute;
      background: rgb(255, 255, 255);
      border: 1px solid grey;
      width: 100%;
    }

    .menu__item {
      margin: 0;
      padding: 12px 0;
    }

    a.menu__item {
      &:focus,
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  //All sub-menus styles beyond first
  ul:not([data-depth='0']) {
    margin: 0;
    padding: 0;
  }

  // All sub-menu open/close styles
  button[aria-expanded='false'] + ul:not([data-depth='0']) {
    opacity: 0;
    visibility: hidden;
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 1s;
  }

  button[aria-expanded='true'] + ul:not([data-depth='0']) {
    opacity: 1;
    visibility: visible;
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 1s;
    z-index: var(--prototype-zindex-over);
  }

  // All span menus display as open
  span + ul:not([data-depth='0']) {
    opacity: 1;
    visibility: visible;
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 1s;
    z-index: var(--prototype-zindex-over);
  }
}
