.site-footer {
  position: relative;
}
.site-footer .site-footer__logo {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
.site-footer .site-footer__logo img {
  display: block;
  max-width: 12.5rem;
  width: 100%;
}