<div class='c-search-bar'>
  <button class='c-search-bar__button' aria-expanded='false' aria-controls='search-bar' aria-label='toggle searchbar'>
    <span class='c-search-bar__button-icon' aria-hidden='true' focusable='false'>
      <svg class='open' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 32 32' fill='none'>
        <path d='M12.6667 4C14.9652 4 17.1696 4.91309 18.7949 6.53841C20.4202 8.16372 21.3333 10.3681 21.3333 12.6667C21.3333 14.8133 20.5467 16.7867 19.2533 18.3067L19.6133 18.6667H20.6667L27.3333 25.3333L25.3333 27.3333L18.6667 20.6667V19.6133L18.3067 19.2533C16.7341 20.5957 14.7343 21.3332 12.6667 21.3333C10.3681 21.3333 8.16372 20.4202 6.53841 18.7949C4.91309 17.1696 4 14.9652 4 12.6667C4 10.3681 4.91309 8.16372 6.53841 6.53841C8.16372 4.91309 10.3681 4 12.6667 4ZM12.6667 6.66667C9.33333 6.66667 6.66667 9.33333 6.66667 12.6667C6.66667 16 9.33333 18.6667 12.6667 18.6667C16 18.6667 18.6667 16 18.6667 12.6667C18.6667 9.33333 16 6.66667 12.6667 6.66667Z' fill='black'/>
      </svg>
      <svg class='close' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 32 32' fill='none'>
        <path d='M25.3333 8.54699L23.4533 6.66699L16 14.1203L8.54663 6.66699L6.66663 8.54699L14.12 16.0003L6.66663 23.4537L8.54663 25.3337L16 17.8803L23.4533 25.3337L25.3333 23.4537L17.88 16.0003L25.3333 8.54699Z' fill='black'/>
      </svg>
    </span>
    <span class='c-search-bar__button-text visually-hidden'>
      {{ button_text|default('Expand Search') }}
    </span>
  </button>
  <div class='c-search-bar__content' id='search-bar' aria-hidden='true'>
    {{content}}
  </div>
</div>
