.c-search-bar {
  align-items: center;
  position: relative;
}
@media (min-width: 992px) {
  .c-search-bar {
    display: inline-flex;
    flex-direction: row-reverse;
    gap: 16px;
  }
}

.c-search-bar__content form {
  position: relative;
}
@media (max-width: 991.98px) {
  .c-search-bar__content form {
    display: inline-flex;
    gap: 16px;
    padding: 32px;
  }
  .c-search-bar__content form > .js-form-item {
    width: -webkit-fill-available;
  }
}
.c-search-bar__content[aria-hidden=true] form {
  width: 0px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 300ms ease-in-out, width 300ms ease-in-out;
}
@media (max-width: 991.98px) {
  .c-search-bar__content[aria-hidden=true] form {
    width: 100%;
    opacity: 1;
    overflow: visible;
  }
}
.c-search-bar__content[aria-hidden=false] form {
  width: 100%;
  opacity: 1;
  transition: opacity 300ms ease-in-out, width 300ms ease-in-out;
}
@media (min-width: 992px) {
  .c-search-bar__content[aria-hidden=false] form {
    width: 160px;
  }
}
@media (min-width: 1200px) {
  .c-search-bar__content[aria-hidden=false] form {
    width: 220px;
  }
}
@media (min-width: 1440px) {
  .c-search-bar__content[aria-hidden=false] form {
    width: 300px;
  }
}
.c-search-bar__content .form-actions {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 992px) {
  .c-search-bar__content .form-actions {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.c-search-bar__content .form-actions input[type=submit] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M9.516%2014.016q1.875%200%203.188-1.313t1.313-3.188-1.313-3.188-3.188-1.313-3.188%201.313-1.313%203.188%201.313%203.188%203.188%201.313zM15.516%2014.016l4.969%204.969-1.5%201.5-4.969-4.969v-0.797l-0.281-0.281q-1.781%201.547-4.219%201.547-2.719%200-4.617-1.875t-1.898-4.594%201.898-4.617%204.617-1.898%204.594%201.898%201.875%204.617q0%200.984-0.469%202.227t-1.078%201.992l0.281%200.281h0.797z%22%2F%3E%3C%2Fsvg%3E%20");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  margin-left: 0;
  text-indent: -9999px;
  width: 48px;
}
.c-search-bar__content .form-actions input[type=submit]:hover {
  box-shadow: none;
}
@media (min-width: 992px) {
  .c-search-bar__content .form-actions input[type=submit] {
    background-color: transparent;
    border-radius: 0;
    margin-left: 8px;
    padding: 0px;
  }
}
.c-search-bar__content .form-element--api-search {
  background: transparent;
  border-radius: 2px;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.25) inset, 0px -1px 0px 0px rgba(255, 255, 255, 0.25) inset;
  color: #000000;
  width: 100%;
  padding-right: 3.375rem;
}
@media (max-width: 991.98px) {
  .c-search-bar__content .form-element--api-search {
    height: 48px;
    padding-right: 12px;
  }
}
.c-search-bar__content input[type=search]::-webkit-search-cancel-button {
  display: none;
}

.c-search-bar__button {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
@media (max-width: 991.98px) {
  .c-search-bar__button {
    display: none;
  }
}
.c-search-bar__button:hover, .c-search-bar__button[aria-expanded=true] {
  transition: all 300ms ease-in-out;
}
.c-search-bar__button[aria-expanded=true] .c-search-bar__button-icon svg.close {
  display: block;
}
.c-search-bar__button[aria-expanded=true] .c-search-bar__button-icon svg.open {
  display: none;
}
.c-search-bar__button[aria-expanded=false] .c-search-bar__button-icon svg.close {
  display: none;
}
.c-search-bar__button[aria-expanded=false] .c-search-bar__button-icon svg.open {
  display: block;
}