{% import "prototype:icons" as icons %}
{% set classes = ['c-link']|merge(classes|default([])) %}
<a href="{{link.url}}" {{ attributes.addClass(classes) }}>
  {{ link.title }}
  {% if icon %}
    <span class='c-link__icon'>
      {{ icons.inline(icon) }}
    </span>
  {% endif %}
</a>
