a {
  color: var(--prototype-color-primary);
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
a:hover, a:focus {
  color: var(--prototype-color-secondary);
  -webkit-text-decoration: none;
  text-decoration: none;
}