ul:not([class]),
ol:not([class]) {
  font-size: inherit;
  line-height: inherit;
  list-style-position: inside;
}
ul:not([class]) span,
ol:not([class]) span {
  display: inline-block;
}

ul:not([class]):not(:first-child),
ol:not([class]):not(:first-child) {
  margin-top: 16px;
}

ul.menu {
  margin: 0;
  padding: 0;
}