html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  font-size: 100%;
  scroll-behavior: smooth;
  -o-tab-size: 4;
     tab-size: 4;
}

.skip-link {
  display: block;
  background-color: var(--prototype-color-black);
  border-radius: 0 0 4px 4px;
  color: var(--prototype-color-white) !important;
  font-size: 1em;
  left: 50%;
  outline: red dotted 2px;
  padding: 10px 18px;
  -webkit-text-decoration: none;
  text-decoration: none;
  transform: translateX(-50%);
  z-index: 1000;
}
.skip-link.focusable:focus {
  position: absolute !important;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--prototype-color-dark);
}