table {
  font-size: var(--prototype-fs-label-16);
  line-height: var(--prototype-lh-label-16);
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  text-align: left;
  border-collapse: collapse;
}

thead th {
  vertical-align: bottom;
}
thead th, thead td {
  border-bottom: 1px solid var(--prototype-color-dark);
}

th,
td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

th {
  color: var(--prototype-color-dark);
  font-weight: var(--prototype-fw-bold);
}

caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
  border-top: 0;
}

tbody + tbody {
  border-top: 2px solid var(--prototype-color-dark);
}

tr.even {
  background-color: var(--prototype-color-gray-200);
}