body {
  font-size: var(--prototype-fs-body-base);
  line-height: var(--prototype-lh-body-base);
  color: var(--prototype-color-black);
  font-family: var(--prototype-ff-base);
}

strong,
b {
  font-weight: var(--prototype-fw-bold);
}

blockquote {
  text-indent: -0.4em;
  font-style: italic;
}

* + blockquote {
  margin-top: 16px;
}