.ck-content *, .ck-content ::before, .ck-content ::after {
  box-sizing: border-box;
}

.ck-content, .ck-content h1, .ck-content h2, .ck-content h3, .ck-content h4, .ck-content p, .ck-content figure, .ck-content blockquote, .ck-content dl, .ck-content dd {
  margin: 0;
}

.ck-content ul {
  list-style: none;
}

.ck-content:focus-within {
  scroll-behavior: smooth;
}

.ck-content {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.ck-content a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

.ck-content img, .ck-content picture {
  max-width: 100%;
  display: block;
}

.ck-content input, .ck-content button, .ck-content textarea, .ck-content select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  .ck-content:focus-within {
    scroll-behavior: auto;
  }
  .ck-content ::before, .ck-content ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.ck-content form > * + *, .ck-content form .form-item + .form-item {
  margin-top: var(--prototype-space-20, 1.25rem);
}

.ck-content label, .ck-content legend, .ck-content .form-item__label {
  font-size: var(--prototype-fs-label-16);
  line-height: var(--prototype-lh-label-16);
  display: block;
  font-weight: var(--prototype-fw-bold);
}

.ck-content legend {
  margin-bottom: 4px;
}

.ck-content fieldset {
  border: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.ck-content input, .ck-content textarea {
  font-size: var(--prototype-fs-label-16);
  line-height: var(--prototype-lh-label-16);
  border-radius: 0;
  color: var(--prototype-color-black);
  max-width: 100%;
}

.ck-content textarea {
  border: solid 1px var(--prototype-color-dark);
  display: block;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.ck-content input[type=date], .ck-content input[type=email], .ck-content input[type=number], .ck-content input[type=password], .ck-content input[type=search], .ck-content input[type=tel], .ck-content input[type=text] {
  font-size: var(--prototype-fs-label-16);
  line-height: var(--prototype-lh-label-16);
  height: auto;
  border: solid 1px var(--prototype-color-dark);
  font-weight: var(--prototype-fw-regular);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
.ck-content input[type=date]::-moz-placeholder, .ck-content input[type=email]::-moz-placeholder, .ck-content input[type=number]::-moz-placeholder, .ck-content input[type=password]::-moz-placeholder, .ck-content input[type=search]::-moz-placeholder, .ck-content input[type=tel]::-moz-placeholder, .ck-content input[type=text]::-moz-placeholder {
  color: var(--prototype-color-gray-600);
}
.ck-content input[type=date]::placeholder, .ck-content input[type=email]::placeholder, .ck-content input[type=number]::placeholder, .ck-content input[type=password]::placeholder, .ck-content input[type=search]::placeholder, .ck-content input[type=tel]::placeholder, .ck-content input[type=text]::placeholder {
  color: var(--prototype-color-gray-600);
}

.ck-content select {
  font-size: var(--prototype-fs-label-16);
  line-height: var(--prototype-lh-label-16);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: var(--prototype-i-triangle-down) no-repeat calc(100% - 12px) center;
  background-size: 24px;
  height: 52px;
  border: solid 1px var(--prototype-color-dark);
  border-radius: 0;
  color: var(--prototype-color-black);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.ck-content select::-ms-expand {
  display: none;
}

.ck-content input[type=search]::-webkit-search-decoration, .ck-content input[type=search]::-webkit-search-cancel-button, .ck-content input[type=search]::-webkit-search-results-button, .ck-content input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.ck-content input[type=search] {
  background: var(--prototype-i-search) no-repeat 12px center;
  background-size: 28px;
  padding-left: 48px;
}

.ck-content .form-type__checkbox, .ck-content .form-type__radio {
  position: relative;
}
.ck-content .form-type__checkbox label, .ck-content .form-type__radio label {
  display: flex;
  font-weight: var(--prototype-fw-regular);
  gap: 4px;
}
.ck-content .form-type__checkbox label:before, .ck-content .form-type__radio label:before {
  background-color: var(--prototype-color-black);
  height: 28px;
  content: "";
  display: block;
  width: 28px;
  top: -4px;
  left: -2px;
  -webkit-mask-size: cover;
          mask-size: cover;
  position: relative;
}
@media (min-width: 768px) {
  .ck-content .form-type__checkbox label:before, .ck-content .form-type__radio label:before {
    top: -1px;
  }
}
.ck-content .form-type__checkbox input, .ck-content .form-type__radio input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 100%;
  cursor: pointer;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  position: absolute;
  z-index: var(--prototype-zindex-default);
}

.ck-content .form-type__checkbox label:before {
  -webkit-mask: var(--prototype-i-rectangle-empty) no-repeat center;
          mask: var(--prototype-i-rectangle-empty) no-repeat center;
}
.ck-content .form-type__checkbox input:checked + label:before {
  -webkit-mask: var(--prototype-i-rectangle-checked) no-repeat center;
          mask: var(--prototype-i-rectangle-checked) no-repeat center;
}

.ck-content .form-type__radio label:before {
  -webkit-mask: var(--prototype-i-circle-empty) no-repeat center;
          mask: var(--prototype-i-circle-empty) no-repeat center;
}
.ck-content .form-type__radio input:checked + label:before {
  -webkit-mask: var(--prototype-i-circle-filled) no-repeat center;
          mask: var(--prototype-i-circle-filled) no-repeat center;
}

.ck-content .description, .ck-content .form-item__description, .ck-content .form-item__description p {
  font-size: var(--prototype-fs-label-14);
  line-height: var(--prototype-lh-label-14);
  color: var(--prototype-color-dark);
}

.ck-content .password-strength__meter {
  background-color: var(--prototype-color-gray-100);
}

.ck-content .password-strength__indicator.is-fair {
  background-color: var(--prototype-color-yellow);
}
.ck-content .password-strength__indicator.is-strong {
  background-color: var(--prototype-color-green);
}
.ck-content .password-strength__indicator.is-good {
  background-color: var(--prototype-color-green);
}
.ck-content .password-strength__indicator.is-weak {
  background-color: var(--prototype-color-red);
}

.ck-content .password-confirm, .ck-content .password-strength__title {
  font-size: var(--prototype-fs-label-14);
  line-height: var(--prototype-lh-label-14);
}

.ck-content .password-strength__text {
  font-weight: var(--prototype-fw-bold);
}

.ck-content .password-confirm > span {
  font-weight: var(--prototype-fw-bold);
}
.ck-content .password-confirm > span.error {
  color: var(--prototype-color-red);
}
.ck-content .password-confirm > span.ok {
  color: var(--prototype-color-green);
}

.ck-content .password-suggestions {
  font-size: var(--prototype-fs-label-14);
  line-height: var(--prototype-lh-label-14);
  font-weight: var(--prototype-fw-bold);
}
.ck-content .password-suggestions > ul {
  font-weight: var(--prototype-fw-regular);
}

.ck-content .search-advanced {
  margin-bottom: 10px;
}
.ck-content .search-advanced #edit-types-fieldset .form-type__checkbox, .ck-content .search-advanced #edit-lang-fieldset .form-type__checkbox {
  margin-bottom: 5px;
}
.ck-content .search-advanced #edit-types-fieldset .form-type__checkbox input, .ck-content .search-advanced #edit-lang-fieldset .form-type__checkbox input {
  width: auto;
}

.ck-content .form-error {
  color: var(--prototype-color-danger);
}
.ck-content .form-error p {
  color: var(--prototype-color-danger);
}
.ck-content .form-error input[type=text], .ck-content .form-error input[type=password], .ck-content .form-error input[type=date], .ck-content .form-error input[type=email], .ck-content .form-error input[type=number], .ck-content .form-error input[type=tel] {
  border: solid 1px var(--prototype-color-danger);
}

.ck-content .form-item--disabled {
  color: var(--prototype-color-gray-600);
}
.ck-content .form-item--disabled p {
  color: var(--prototype-color-gray-600);
}
.ck-content .form-item--disabled label:before {
  background-color: var(--prototype-color-gray-600);
}
.ck-content .form-item--disabled input {
  cursor: not-allowed;
}
.ck-content .form-item--disabled input[type=text], .ck-content .form-item--disabled input[type=password], .ck-content .form-item--disabled input[type=date], .ck-content .form-item--disabled input[type=email], .ck-content .form-item--disabled input[type=number], .ck-content .form-item--disabled input[type=tel] {
  border: solid 1px var(--prototype-color-gray-600);
  color: var(--prototype-color-gray-600);
}
.ck-content .form-item--disabled input[type=text]::-moz-placeholder, .ck-content .form-item--disabled input[type=password]::-moz-placeholder, .ck-content .form-item--disabled input[type=date]::-moz-placeholder, .ck-content .form-item--disabled input[type=email]::-moz-placeholder, .ck-content .form-item--disabled input[type=number]::-moz-placeholder, .ck-content .form-item--disabled input[type=tel]::-moz-placeholder {
  color: var(--prototype-color-gray-600);
}
.ck-content .form-item--disabled input[type=text]::placeholder, .ck-content .form-item--disabled input[type=password]::placeholder, .ck-content .form-item--disabled input[type=date]::placeholder, .ck-content .form-item--disabled input[type=email]::placeholder, .ck-content .form-item--disabled input[type=number]::placeholder, .ck-content .form-item--disabled input[type=tel]::placeholder {
  color: var(--prototype-color-gray-600);
}

.ck-content .form-actions {
  align-self: flex-start;
  display: flex;
  gap: var(--prototype-space-20, 1.25rem);
}
@media (min-width: 768px) {
  .ck-content .form-actions {
    align-self: auto;
  }
}
.ck-content .form-actions input {
  font-size: var(--prototype-fs-body-18);
  line-height: var(--prototype-lh-body-18);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--prototype-color-black);
  border: none;
  box-shadow: none;
  color: var(--prototype-color-white);
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  text-decoration: underline;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  text-underline-offset: 2px;
}
.ck-content .form-actions input:hover, .ck-content .form-actions input:focus {
  color: var(--prototype-color-white);
  text-decoration: underline;
  -webkit-text-decoration: underline currentColor;
          text-decoration: underline currentColor;
}
.ck-content .form-actions input[value=Clear] {
  background: var(--prototype-i-close) no-repeat left center;
  color: var(--prototype-color-black);
  background-size: 28px;
  padding-left: 32px;
}

.ck-content .form--exposed-filters {
  align-items: flex-end;
  display: flex;
  flex-flow: nowrap column;
  gap: var(--prototype-space-20, 1.25rem);
}
@media (min-width: 768px) {
  .ck-content .form--exposed-filters {
    flex-flow: nowrap row;
  }
}
.ck-content .form--exposed-filters .form-item {
  margin: 0;
}

.ck-content h1, .ck-content h2, .ck-content h3, .ck-content h4, .ck-content h5 {
  color: var(--prototype-color-black);
  margin-bottom: 0;
}
.ck-content h1 > a, .ck-content h2 > a, .ck-content h3 > a, .ck-content h4 > a, .ck-content h5 > a {
  -webkit-text-decoration: none;
  text-decoration: none;
}
.ck-content h1 + p, .ck-content h2 + p, .ck-content h3 + p, .ck-content h4 + p, .ck-content h5 + p {
  margin-top: 16px;
}
.ck-content h1:first-child, .ck-content h2:first-child, .ck-content h3:first-child, .ck-content h4:first-child, .ck-content h5:first-child {
  margin-top: 0;
}

.ck-content h1 {
  font-weight: var(--prototype-fw-bold);
  font-size: var(--prototype-fs-heading-h1);
  line-height: var(--prototype-lh-heading-h1);
}

.ck-content h2 {
  font-weight: var(--prototype-fw-bold);
  font-size: var(--prototype-fs-heading-h2);
  line-height: var(--prototype-lh-heading-h2);
}

.ck-content h3 {
  font-weight: var(--prototype-fw-bold);
  font-size: var(--prototype-fs-heading-h3);
  line-height: var(--prototype-lh-heading-h3);
}

.ck-content h4 {
  font-weight: var(--prototype-fw-bold);
  font-size: var(--prototype-fs-heading-h4);
  line-height: var(--prototype-lh-heading-h4);
}

.ck-content h5 {
  font-weight: var(--prototype-fw-bold);
  font-size: var(--prototype-fs-body-18);
  line-height: var(--prototype-lh-body-18);
}

.ck-content h6 {
  font-weight: var(--prototype-fw-bold);
  font-size: var(--prototype-fs-body-16);
  line-height: var(--prototype-lh-body-16);
}

.ck-content .align-left {
  margin: 0 var(--prototype-grid-gap) var(--prototype-grid-gap) 0;
}

.ck-content .align-right {
  margin: 0 0 var(--prototype-grid-gap) var(--prototype-grid-gap);
}

.ck-content .align-center {
  margin: var(--prototype-grid-gap) auto;
}

.ck-content [class*=l-flex] > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc(var(--prototype-grid-gap) / 2 * -1) calc(var(--prototype-grid-gap) / 2 * -1);
}

.ck-content [class*=l-flex] > * > * {
  margin: calc(var(--prototype-grid-gap) / 2) calc(var(--prototype-grid-gap) / 2);
}

.ck-content .l-flex__alignment--start > * {
  justify-content: flex-start;
}

.ck-content .l-flex__alignment--center > * {
  justify-content: center;
}

.ck-content .l-flex__alignment--end > * {
  justify-content: flex-end;
}

.ck-content .l-flex__alignment--end > * {
  justify-content: flex-end;
}

.ck-content .l-flex__no-wrap > * {
  flex-wrap: nowrap;
}

.ck-content a {
  color: var(--prototype-color-primary);
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.ck-content a:hover, .ck-content a:focus {
  color: var(--prototype-color-secondary);
  -webkit-text-decoration: none;
  text-decoration: none;
}

.ck-content ul:not([class]), .ck-content ol:not([class]) {
  font-size: inherit;
  line-height: inherit;
  list-style-position: inside;
}
.ck-content ul:not([class]) span, .ck-content ol:not([class]) span {
  display: inline-block;
}

.ck-content ul:not([class]):not(:first-child), .ck-content ol:not([class]):not(:first-child) {
  margin-top: 16px;
}

.ck-content ul.menu {
  margin: 0;
  padding: 0;
}

.ck-content figure {
  margin: 0;
}
.ck-content figure img {
  display: block;
}

.ck-content img {
  max-width: 100%;
  height: auto;
}

.ck-content figcaption {
  margin: 16px 0;
}

.ck-content {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  font-size: 100%;
  scroll-behavior: smooth;
  -o-tab-size: 4;
     tab-size: 4;
}

.ck-content .skip-link {
  display: block;
  background-color: var(--prototype-color-black);
  border-radius: 0 0 4px 4px;
  color: var(--prototype-color-white) !important;
  font-size: 1em;
  left: 50%;
  outline: red dotted 2px;
  padding: 10px 18px;
  -webkit-text-decoration: none;
  text-decoration: none;
  transform: translateX(-50%);
  z-index: 1000;
}
.ck-content .skip-link.focusable:focus {
  position: absolute !important;
}

.ck-content hr {
  border: 0;
  border-bottom: 1px solid var(--prototype-color-dark);
}

.ck-content table {
  font-size: var(--prototype-fs-label-16);
  line-height: var(--prototype-lh-label-16);
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  text-align: left;
  border-collapse: collapse;
}

.ck-content thead th {
  vertical-align: bottom;
}
.ck-content thead th, .ck-content thead td {
  border-bottom: 1px solid var(--prototype-color-dark);
}

.ck-content th, .ck-content td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

.ck-content th {
  color: var(--prototype-color-dark);
  font-weight: var(--prototype-fw-bold);
}

.ck-content caption + thead tr:first-child th, .ck-content caption + thead tr:first-child td, .ck-content colgroup + thead tr:first-child th, .ck-content colgroup + thead tr:first-child td, .ck-content thead:first-child tr:first-child th, .ck-content thead:first-child tr:first-child td {
  border-top: 0;
}

.ck-content tbody + tbody {
  border-top: 2px solid var(--prototype-color-dark);
}

.ck-content tr.even {
  background-color: var(--prototype-color-gray-200);
}

.ck-content {
  font-size: var(--prototype-fs-body-base);
  line-height: var(--prototype-lh-body-base);
  color: var(--prototype-color-black);
  font-family: var(--prototype-ff-base);
}

.ck-content strong, .ck-content b {
  font-weight: var(--prototype-fw-bold);
}

.ck-content blockquote {
  text-indent: -0.4em;
  font-style: italic;
}

.ck-content * + blockquote {
  margin-top: 16px;
}

.ck-content {
  --prototype-color-blue: #0d6efd;
  --prototype-color-indigo: #6610f2;
  --prototype-color-purple: #6f42c1;
  --prototype-color-pink: #d63384;
  --prototype-color-red: #dc3545;
  --prototype-color-orange: #fd7e14;
  --prototype-color-yellow: #ffc107;
  --prototype-color-green: #198754;
  --prototype-color-teal: #20c997;
  --prototype-color-cyan: #0dcaf0;
}

.ck-content {
  --prototype-color-white: #ffffff;
  --prototype-color-gray-100: #f8f9fa;
  --prototype-color-gray-200: #e9ecef;
  --prototype-color-gray-300: #dee2e6;
  --prototype-color-gray-400: #ced4da;
  --prototype-color-gray-500: #adb5bd;
  --prototype-color-gray-600: #6c757d;
  --prototype-color-gray-700: #495057;
  --prototype-color-gray-800: #343a40;
  --prototype-color-gray-900: #212529;
  --prototype-color-black: #000000;
}

.ck-content {
  --prototype-color-primary: var(--prototype-color-blue);
  --prototype-color-secondary: var(--prototype-color-gray-900);
  --prototype-color-success: var(--prototype-color-green);
  --prototype-color-info: var(--prototype-color-cyan);
  --prototype-color-warning: var(--prototype-color-yellow);
  --prototype-color-danger: var(--prototype-color-red);
  --prototype-color-light: var(--prototype-color-gray-100);
  --prototype-color-dark: var(--prototype-color-gray-900);
}

.ck-content {
  --prototype-grid-gap: var(--prototype-space-36);
}

.ck-content {
  --prototype-zindex-super: 100;
  --prototype-zindex-top: 90;
  --prototype-zindex-over: 10;
  --prototype-zindex-default: 1;
  --prototype-zindex-under: -1;
  --prototype-zindex-bottom: -9999px;
}

.ck-content {
  --prototype-width-xxlarge: 1920px;
  --prototype-width-xlarge: 1440px;
  --prototype-width-large: 1280px;
  --prototype-width-medium: 960px;
  --prototype-width-small: 768px;
  --prototype-width-xsmall: 640px;
  --prototype-width-xxsmall: 480px;
}

/* prettier-ignore */
.ck-content {
  --prototype-space-0: 0px;
  --prototype-space-8: 4px;
  --prototype-space-20: 8px;
  --prototype-space-36: 12px;
  --prototype-space-60: 20px;
  --prototype-space-96: 30px;
  --prototype-space-120: 40px;
  --prototype-space-180: 60px;
  --prototype-space-rem-0: 0rem; /* 0px */
  --prototype-space-rem-8: 0.25rem; /* 4px */
  --prototype-space-rem-20: 0.5rem; /* 8px */
  --prototype-space-rem-36: 0.75rem; /* 12px */
  --prototype-space-rem-60: 1.25rem; /* 20px */
  --prototype-space-rem-96: 1.875rem; /* 30px */
  --prototype-space-rem-120: 2.5rem; /* 40px */
  --prototype-space-rem-180: 3.75rem; /* 60px */
}
@media (min-width: 768px) {
  .ck-content {
    --prototype-space-8: 8px;
    --prototype-space-20: 12px;
    --prototype-space-36: 18px;
    --prototype-space-60: 32px;
    --prototype-space-96: 48px;
    --prototype-space-120: 60px;
    --prototype-space-180: 90px;
    --prototype-space-rem-8: 0.5rem; /* 8px */
    --prototype-space-rem-20: 0.75rem; /* 12px */
    --prototype-space-rem-36: 1.125rem; /* 18px */
    --prototype-space-rem-60: 2rem; /* 32px */
    --prototype-space-rem-96: 3rem; /* 48px */
    --prototype-space-rem-120: 3.75rem; /* 60px */
    --prototype-space-rem-180: 5.625rem; /* 90px */
  }
}
@media (min-width: 1024px) {
  .ck-content {
    --prototype-space-20: 16px;
    --prototype-space-36: 24px;
    --prototype-space-60: 40px;
    --prototype-space-96: 60px;
    --prototype-space-120: 80px;
    --prototype-space-180: 120px;
    --prototype-space-rem-20: 1rem; /* 16px */
    --prototype-space-rem-36: 1.5rem; /* 24px */
    --prototype-space-rem-60: 2.5rem; /* 40px */
    --prototype-space-rem-96: 3.75rem; /* 60px */
    --prototype-space-rem-120: 5rem; /* 80px */
    --prototype-space-rem-180: 7.5rem; /* 120px */
  }
}
@media (min-width: 1200px) {
  .ck-content {
    --prototype-space-20: 20px;
    --prototype-space-36: 36px;
    --prototype-space-60: 60px;
    --prototype-space-96: 96px;
    --prototype-space-120: 120px;
    --prototype-space-180: 180px;
    --prototype-space-rem-20: 1.25rem; /* 20px */
    --prototype-space-rem-36: 2.25rem; /* 36px */
    --prototype-space-rem-60: 3.75rem; /* 60px */
    --prototype-space-rem-96: 6rem; /* 96px */
    --prototype-space-rem-120: 7.5rem; /* 120px */
    --prototype-space-rem-180: 11.25rem; /* 180px */
  }
}

.ck-content {
  --prototype-ff-base: "Inter", sans-serif;
}

/* prettier-ignore */
.ck-content {
  /* font-sizes: heading */
  --prototype-fs-heading-h1: 2.75rem; /* 44px */
  --prototype-fs-heading-h2: 2rem; /* 32px */
  --prototype-fs-heading-h3: 1.5rem; /* 24px */
  --prototype-fs-heading-h4: 1.375rem; /* 22px */
  /* font-sizes: body */
  --prototype-fs-body-base: 0.875rem; /* 14px */
  --prototype-fs-body-18: 0.875rem; /* 14px */
  --prototype-fs-body-16: 0.875rem; /* 14px */
  /* font-sizes: label */
  --prototype-fs-label-18: 0.875rem; /* 14px */
  --prototype-fs-label-16: 0.875rem; /* 14px */
  --prototype-fs-label-14: 0.75rem; /* 12px */
  /* line-heights: heading */
  --prototype-lh-heading-h1: 1.1818181818; /* 52px */
  --prototype-lh-heading-h2: 1.125; /* 36px */
  --prototype-lh-heading-h3: 1.1666666667; /* 28px */
  --prototype-lh-heading-h4: 1.2727272727; /* 28px */
  /* line-heights: body */
  --prototype-lh-body-base: 1.5714285714; /* 22px */
  --prototype-lh-body-18: 1.5714285714; /* 22px */
  --prototype-lh-body-16: 1.5714285714; /* 22px */
  /* line-heights: label */
  --prototype-lh-label-18: 1.7142857143; /* 24px */
  --prototype-lh-label-16: 1.7142857143; /* 24px */
  --prototype-lh-label-14: 1.8333333333; /* 22px */
}
@media (min-width: 768px) {
  .ck-content {
    /* font-sizes: heading */
    --prototype-fs-heading-h1: 3.25rem; /* 52px */
    --prototype-fs-heading-h2: 2.625rem; /* 42px */
    --prototype-fs-heading-h3: 1.75rem; /* 28px */
    --prototype-fs-heading-h4: 1.5rem; /* 24px */
    /* font-sizes: body */
    --prototype-fs-body-base: 1rem; /* 16px */
    --prototype-fs-body-18: 1rem; /* 16px */
    --prototype-fs-body-16: 1rem; /* 16px */
    /* font-sizes: label */
    --prototype-fs-label-18: 1rem; /* 16px */
    --prototype-fs-label-16: 1rem; /* 16px */
    --prototype-fs-label-14: 0.875rem; /* 14px */
    /* line-heights: heading */
    --prototype-lh-heading-h1: 1.1538461538; /* 60px */
    --prototype-lh-heading-h2: 1.1428571429; /* 48px */
    --prototype-lh-heading-h3: 1.1428571429; /* 32px */
    --prototype-lh-heading-h4: 1.1666666667; /* 28px */
    /* line-heights: body */
    --prototype-lh-body-base: 1.625; /* 26px */
    --prototype-lh-body-18: 1.625; /* 26px */
    --prototype-lh-body-16: 1.625; /* 26px */
    /* line-heights: label */
    --prototype-lh-label-18: 1.75; /* 28px */
    --prototype-lh-label-16: 1.5; /* 24px */
    --prototype-lh-label-14: 1.7142857143; /* 24px */
  }
}
@media (min-width: 1024px) {
  .ck-content {
    /* font-sizes: heading */
    --prototype-fs-heading-h1: 4.5rem; /* 72px */
    --prototype-fs-heading-h2: 2.75rem; /* 44px */
    --prototype-fs-heading-h3: 2rem; /* 32px */
    --prototype-fs-heading-h4: 1.75rem; /* 28px */
    /* font-sizes: body */
    --prototype-fs-body-base: 1.125rem; /* 18px */
    --prototype-fs-body-18: 1.125rem; /* 18px */
    --prototype-fs-body-16: 1rem; /* 16px */
    /* font-sizes: label */
    --prototype-fs-label-18: 1.125rem; /* 18px */
    --prototype-fs-label-16: 1rem; /* 16px */
    /* line-heights: heading */
    --prototype-lh-heading-h1: 1; /* 72px */
    --prototype-lh-heading-h2: 1.1818181818; /* 52px */
    --prototype-lh-heading-h3: 1.125; /* 36px */
    --prototype-lh-heading-h4: 1.1428571429; /* 32px */
    /* line-heights: body */
    --prototype-lh-body-base: 1.5555555556; /* 28px */
    --prototype-lh-body-18: 1.5555555556; /* 28px */
    --prototype-lh-body-16: 1.625; /* 26px */
    /* line-heights: label */
    --prototype-lh-label-18: 1.5555555556; /* 28px */
    --prototype-lh-label-16: 1.75; /* 28px */
  }
}
@media (min-width: 1200px) {
  .ck-content {
    /* font-sizes: heading */
    --prototype-fs-heading-h1: 6rem; /* 96px */
    --prototype-fs-heading-h2: 3.25rem; /* 52px */
    --prototype-fs-heading-h3: 2.75rem; /* 44px */
    --prototype-fs-heading-h4: 2rem; /* 32px */
    /* font-sizes: body */
    --prototype-fs-body-base: 1.125rem; /* 18px */
    --prototype-fs-body-18: 1.125rem; /* 18px */
    --prototype-fs-body-16: 1rem; /* 16px */
    /* line-heights: heading */
    --prototype-lh-heading-h1: 0.9583333333; /* 92px */
    --prototype-lh-heading-h2: 1.1538461538; /* 60px */
    --prototype-lh-heading-h3: 1.1818181818; /* 52px */
    --prototype-lh-heading-h4: 1.125; /* 36px */
    /* line-heights: body */
    --prototype-lh-body-base: 1.5555555556; /* 28px */
    --prototype-lh-body-18: 1.5555555556; /* 28px */
    --prototype-lh-body-16: 1.625; /* 26px */
  }
}

.ck-content {
  --prototype-fw-thin: 100;
  --prototype-fw-light: 300;
  --prototype-fw-regular: 400;
  --prototype-fw-book: 400;
  --prototype-fw-medium: 500;
  --prototype-fw-semibold: 600;
  --prototype-fw-bold: 700;
}