{% set classes = [
  'c-teaser',
  'c-teaser--' ~ variant|default('card'),
] %}

{% set classes = classes|merge(classes|default([])) %}

<article {{ attributes.addClass(classes) }}>

  {% if media %}
    <div class="c-teaser__media">
      {{ media }}
    </div>
  {% endif %}

  <div class="c-teaser__content">
    <h3 class="c-teaser__title">{{ title }}</h3>

    {% if body %}
      <div class="c-teaser__body">{{ body }}</div>
    {% endif %}

    {% if link.url is not empty %}
      <p class="c-teaser__actions">
        <a class="c-teaser__more-link" href="{{ link.url }}">
          <span class="text">{{ link.text }}</span>
        </a>
      </p>
    {% endif %}
  </div>
</article>
