.c-slideshow {
  padding: 0 4rem;
}
.c-slideshow .splide__arrow {
  border-radius: 4rem;
  opacity: 1;
}
.c-slideshow .splide__arrow.splide__arrow--prev {
  left: 0;
}
.c-slideshow .splide__arrow.splide__arrow--next {
  right: 0;
}
.c-slideshow .splide__arrow[disabled] {
  display: none;
}

.splide__toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  height: 1.75rem;
  padding: 0;
  width: 1.75rem;
}
.splide__toggle:focus {
  outline: auto 1px solid;
  outline-offset: 3px;
  border-radius: 100px;
}